<%= form_for(rent) do |f| %>
  <% if rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rent.errors.count, "error") %> prohibited this rent from being saved:</h2>

      <ul>
      <% rent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="inputName" class="col-lg-2 control-label">借りる人</label>
    <div class="col-lg-10">
      <%= f.text_field :user,　class: "form-control", placeholder: "" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputMachine" class="col-lg-2 control-label">機器ID</label>
    <div class="col-lg-10">
      <%= f.text_field :machine,　class: "form-control", placeholder: "CBHD-XXXX-XXXX" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputTime" class="col-lg-2 control-label">返却予定時間</label>
    <div class="col-lg-10">
      <%= f.time_select :return_time, class: "form-control"%>
    </div>
  </div>


  <% if false %>
  <div class="field">
    <%= f.label :return %>
    <%= f.check_box :return %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit "借りる",:class => "btn btn-info" %>
  </div>
<% end %>
