<h2>対応済みフリー投稿一覧</h2>
<p>投稿された履歴が確認できます。</p>
  <table class="table">
  <thead>
  <tr>
    <th>名前</th>
    <th>日付</th>
    <th>タイトル</th>
    <th>ステータス</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <%@free_posts.each do |free_post| %>
        <tr>
          <td><%= free_post.name %></td>
          <td><%= free_post.updated_at.strftime("%Y-%m-%d") %></td>
          <td><%= free_post.title %></td>


          <td><% if free_post.post_operator.nil? %>未対応<% else %><%= free_post.post_operator.status %><% end %></td>


          <td><%= link_to "詳細",free_post %></td>
          <td><%= link_to "対応",edit_free_post_path(free_post) %></td>
          <td><%= link_to "削除",free_post, method: :delete,data:{confirm:"本当に削除しますか?" }%></td>
        </tr>
   <% end %>
  </tbody>
</table>
