<h2>フリー投稿対応</h2>
<table class="table">
  <tbody>
    <tr>
      <th>投稿者</th><td><%= @free_posts.name %></td>
    </tr>
    <tr>
      <th>投稿時間</th><td><%= @free_posts.updated_at.strftime("%Y-%m-%d") %></td>
    </tr>
    <tr>
      <th>タイトル</th><td><%= @free_posts.title %></td>
    </tr>
    <tr>
      <th>詳細</th><td><%= @free_posts.detail %></td>
    </tr>
  </tbody>
</table>

<%= form_for(@free_posts) do |f| %>
  <%= f.fields_for :post_operator, @free_posts.post_operator || @free_posts.build_post_operator do |of| %>
  <!-- status -->
  <div class="form-group">
    <label class="col-lg-2 control-label">ステータス</label>
    <div class="col-lg-10">
      <div class="radio">
        <label>
          <%= of.radio_button :status, "未対応" %>
          <%= of.label 'not_yet', '未対応' %>
          <%= of.radio_button :status, "対応中" %>
          <%= of.label 'during', '対応中' %>
          <%= of.radio_button :status, "対応済"%>
          <%= of.label 'finish', '対応済' %>
        </label>
      </div>
    </div>
  </div>

  <!-- name -->
  <div class="form-group">
    <label for="inputName" class="col-lg-2 control-label">対応者名</label>
    <div class="col-lg-10">
      <%= of.text_field :name,　class: "form-control", placeholder: "不具合を対応している人" %>
    </div>
  </div>
  <!-- memo -->
  <div class="form-group">
    <label for="textArea" class="col-lg-2 control-label">memo</label>
    <div class="col-lg-10">
      <%= of.text_area :memo,　class: "form-control", size: "24x3" %>
      <span class="help-block">memo</span>
    </div>
  </div>

    <div class="actions">
      <%= f.submit "対応する",:class => "btn btn-info" %>
    </div>

  <% end %>
<% end %>

<%= link_to 'Back', free_posts_path %>
