
<h2>詳細情報</h2>
<table class="table">
  <tbody>
    <tr>
      <th>投稿者</th><td><%= @free_posts.name %></td>
    </tr>
    <tr>
      <th>投稿時間</th><td><%= @free_posts.updated_at.strftime("%Y-%m-%d") %></td>
    </tr>
    <tr>
      <th>タイトル</th><td><%= @free_posts.title %></td>
    </tr>
    <tr>
      <th>詳細</th><td><%= @free_posts.detail %></td>
    </tr>
  </tbody>
</table>
<%= link_to '対応する', edit_free_post_path(@free_posts), :class => "btn btn-info" %>
